global:
  resolve_timeout: 1m

route:
  receiver: "heat-scaler"
  group_by: ["alertname", "server_group"]
  group_wait: 10s
  group_interval: 30s
  repeat_interval: {{ autoscaling_alarm_cooldown }}

receivers:
  - name: "heat-scaler"
    webhook_configs:
      - url: "http://localhost:{{ heat_signal_adapter_port }}"
        send_resolved: false
