groups:
  - name: autoscaling_rules
    rules:
      # SCALE-OUT: Trigger scale-out (+1 VM) when CPU usage exceeds high threshold
      - alert: CpuHigh
        expr: >
          avg by (server_group) (
            (
              (rate(libvirt_domain_info_cpu_time_seconds_total[1m]) * 100)
              or
              (rate(libvirt_domain_info_cpu_time_total[1m]) / 1e9 * 100)
            )
            * on(domain) group_left(server_group) openstack_instance_server_group
          ) > {{ autoscaling_cpu_high_threshold }}
        for: {{ autoscaling_evaluation_period }}
        labels:
          severity: critical
          target_resource: scaleup_policy
          action: signal
        annotations:
          summary: "High CPU Usage: Stack {% raw %}{{ $labels.server_group }}{% endraw %}"
          description: "Stack CPU usage has stayed above {{ autoscaling_cpu_high_threshold }}% for {{ autoscaling_evaluation_period }} (Value: {% raw %}{{ $value }}{% endraw %}%). Scale-Out triggered."

      # SCALE-IN: Trigger scale-in (-1 VM) when CPU usage drops below low threshold
      - alert: CpuLow
        expr: >
          avg by (server_group) (
            (
              (rate(libvirt_domain_info_cpu_time_seconds_total[1m]) * 100)
              or
              (rate(libvirt_domain_info_cpu_time_total[1m]) / 1e9 * 100)
            )
            * on(domain) group_left(server_group) openstack_instance_server_group
          ) < {{ autoscaling_cpu_low_threshold }}
        for: {{ autoscaling_evaluation_period }}
        labels:
          severity: warning
          target_resource: scaledown_policy
          action: signal
        annotations:
          summary: "Low CPU Usage: Stack {% raw %}{{ $labels.server_group }}{% endraw %}"
          description: "Stack CPU usage has stayed below {{ autoscaling_cpu_low_threshold }}% for {{ autoscaling_evaluation_period }} (Value: {% raw %}{{ $value }}{% endraw %}%). Scale-In triggered."