[Unit]
Description=Alertmanager to OpenStack Heat Signal Adapter
After=network.target

[Service]
Type=simple
User={{ autoscaling_service_user }}
Group={{ autoscaling_service_group }}
WorkingDirectory={{ autoscaling_install_dir }}
EnvironmentFile={{ autoscaling_install_dir }}/openrc
{% if heat_scaleup_url %}
Environment="HEAT_SCALEUP_URL={{ heat_scaleup_url }}"
{% endif %}
{% if heat_scaledown_url %}
Environment="HEAT_SCALEDOWN_URL={{ heat_scaledown_url }}"
{% endif %}
Environment="ADAPTER_PORT={{ heat_signal_adapter_port }}"
ExecStart={{ autoscaling_venv_dir }}/bin/python3 {{ autoscaling_install_dir }}/adapter/heat_signal_adapter.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
