export OS_AUTH_URL="{{ openstack_auth_url }}"
export OS_USERNAME="{{ openstack_username }}"
export OS_PASSWORD="{{ openstack_password }}"
export OS_PROJECT_NAME="{{ openstack_project_name }}"
export OS_USER_DOMAIN_NAME="{{ openstack_user_domain_name }}"
export OS_PROJECT_DOMAIN_NAME="{{ openstack_project_domain_name }}"
export OS_IDENTITY_API_VERSION="3"
export OS_INTERFACE="public"
