OS_AUTH_URL={{ openstack_auth_url }}
OS_USERNAME={{ openstack_username }}
OS_PASSWORD={{ openstack_password }}
OS_PROJECT_NAME={{ openstack_project_name }}
OS_USER_DOMAIN_NAME={{ openstack_user_domain_name }}
OS_PROJECT_DOMAIN_NAME={{ openstack_project_domain_name }}
OS_IDENTITY_API_VERSION=3
OS_INTERFACE=public