global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'libvirt'
    static_configs:
      - targets: ["localhost:{{ libvirt_exporter_port | default(9177) }}"]

  - job_name: 'openstack-server-group'
    static_configs:
      - targets: ["localhost:{{ server_group_exporter_port | default(9102) }}"]